<div class="todo">    
    <ul>
    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Check Mail.</li>
    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Pay Bills.</li>
   <!-- <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Call Joe.</li>
    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Clean the room.</li>-->
  </ul>       
   <!--<ul>
    <li *ngFor="let item of taskList">
      <i class="fa fa-list-ul" aria-hidden="true"></i> {{item.task}}
    </li>
  </ul>-->
</div>