<div class="todo">    
    <ul>
    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Meeting with Joe.</li>
    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Amaya's Birthday.</li>
    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Pizza Friday.</li>
    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Client Meeting.</li>
  </ul>       
   <!--<ul>
    <li *ngFor="let item of taskList">
      <i class="fa fa-list-ul" aria-hidden="true"></i> {{item.task}}
    </li>
  </ul>-->
</div>