@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
.dateMain{
    font-family: 'Advent Pro', sans-serif;
    
}

.dateMain{
   
}
.date{
    font-size: 20px;
    padding-right: 30px;
   
    margin-top: -10px;
    
}