
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
.clock{
    font-family: 'Poiret One', cursive;
  
    
}

.time{
    font-size: 56px;
}

.date{
    font-size: 20px;
    margin-top: -10px; 
}