.news-body{
    padding-left: 15%;
    padding-right: 15%;
    
    text-align: center;
    -webkit-animation-duration: 10s;

    -webkit-animation-iteration-count: infinite;
  
   
    
}
.newsfeed{
  
}