<!--
<div>
  <app-clock></app-clock>
 
  <app-date></app-date>
   <app-events></app-events>
  <app-todo></app-todo>
  <app-weather></app-weather>
 
</div>-->
<div class="Grid">
  <div class="left">
    <app-weather></app-weather>
  </div>

  <div class="right">


    <app-clock></app-clock>
    <app-date></app-date>
  </div>
</div>
<div class="Grid">
  <div class="left">
    <app-events></app-events>
  </div>

  <div class="right">
    <!-- Room for video player -->
  </div>
</div>
<div class="Grid">
  <div class="left">
    <app-todo></app-todo>
  </div>


</div>
<div class="complements">
  <app-compliments></app-compliments>
  <!--<p class="greeting">Good Morning !</p>
  <p class="abc">How is your day ?</p>-->
</div>
<div class="news">
  <app-newsfeed></app-newsfeed>
</div>
