<!--
<div>
  <app-clock></app-clock>
 
  <app-date></app-date>
   <app-events></app-events>
  <app-todo></app-todo>
  <app-weather></app-weather>
 
</div>-->
<div class="Grid">
  <div class="left">
      <app-weather></app-weather>
    </div>
  
  <div class="right">
    

    <app-clock></app-clock>
    <app-date></app-date>
  </div>
</div>
<div class="Grid">
    <div class="left">
        <app-events></app-events>
      </div>
    
    <div class="right">
     
    </div>
</div>
<div class="Grid">
    <div class="left">
        <app-events></app-events>
      </div>
    
    
</div>
<div class="complements">
 <p class="greeting">Good Morning !</p>
 <p class="abc">How is your day ?</p>
</div>
<div class="news">
    <p class="news-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis diam sed felis viverra, vel maximus ligula ornare. Aliquam mauris leo, maximus a justo ut, rhoncus pretium neque. Donec lobortis fermentum facilisis.s</p>
   </div>
   
